##* @vtlvariable name="seo" type="java.util.ResourceBundle" *#
#set($title = ${seo.getString("title")})
#set($description = ${seo.getString("description")})
#set($keywords = ${seo.getString("keywords")})
<!doctype html>
<html lang="$locale">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="gwt:property" content="locale=$locale">

    <title>Beestore</title>

    <meta property="description" content="$description">
    <meta property="og:description" content="$description">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image" content="http://www.arcbees.com/img/facebook.png">
    <meta property="og:type" content="website">
    <meta property="keywords" content="$keywords">

    <script type="text/javascript" src="/beeshop/beeshop.nocache.js"></script>

    <style type="text/css">
        #__gwt_historyFrame {
            position: absolute;
            width: 0;
            height: 0;
            border: 0;
        }

        noscript > div {
            width: 22em;
            position: absolute;
            left: 50%;
            margin-left: -11em;
            color: red;
            background-color: white;
            border: 1px solid red;
            padding: 4px;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1'></iframe>

<noscript>
    <div>
        Your web browser must have JavaScript enabled in order for this application to display correctly.
    </div>
</noscript>
</body>
</html>
